JWT_SECRET=change-me
JWT_EXPIRATION=86400000

MYSQL_DATABASE=db_inventory
MYSQL_USER=alanlabas
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=rootpassword

SPRING_DATASOURCE_URL_LOCAL=jdbc:mysql://localhost:3306/db_inventory?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_PROFILES_ACTIVE=docker

SPRING_MAIL_HOST=smtp-relay.brevo.com
SPRING_MAIL_PORT=587
SPRING_MAIL_NAME=Inventory
SPRING_MAIL_FROM=your-email@example.com
SPRING_MAIL_USERNAME=your-smtp-user
SPRING_MAIL_PASSWORD=change-me
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_REQUIRED=true

